{% extends "rental/rentalindex.html" %}
{% block body %}


<body>
<form id="form2" name="form2" method="post" action="/myapp/rental_editstock_post/">
{% csrf_token %}
<table class="table table-bordered">
  <tr>
    <th>stock</th>
    <td>

      <input type="text" name="textfield" value="{{ data.Stock }}"  class="form-control" id="textfield" />
        <input type="hidden" name="id" value="{{ data.id }}" />
   </td>
  </tr>
  <tr>
    <th>product</th>
    <td>
      <label for="select"></label>
      <select name="select" id="select">
       <option value="{{ data.PRODUCT.id }}">
              {{ data.PRODUCT.Productname }}
          </option>
             {% for i in data1 %}
          <option value="{{ i.id }}">
              {{ i.Productname }}
          </option>
          {% endfor %}
      </select>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <input type="submit" name="button" id="button" class="btn btn-success" value="Submit" />
   </td>
  </tr>
</table>
 </form>
</body>
{% endblock %}
