{% extends "rental/rentalindex.html" %}
{% block body %}


<form id="form2" name="form2" method="post" action="/myapp/rental_product_post/"enctype="multipart/form-data">
    {% csrf_token %}

<table class="table table-bordered">

  <tr>
    <th>product</th>
    <td>
      <input type="text" name="textfield2" id="textfield2"class="form-control" />
    </td>
  </tr>
  <tr>
    <th>price</th>
    <td>
      <input type="text" name="textfield3" id="textfield3" class="form-control"/>
    </td>
  </tr><tr>
    <td>photo</td>
    <td>
      <input type="file" name="photo" id="textfield3" class="form-control"/>
    </td>
  </tr>
    <tr>
    <td>
      <input type="submit" name="button" class="btn btn-success" id="button" value="Submit" />
    </td>
  </tr>
    </table>
</form>
{% endblock %}