{% extends "rental/rental_home.html" %}
{% block body %}


<body>
<a href="/myapp/rental_viewprofile/">rental_viewprofile</a><br>
<a href="/myapp/rental_changepassword/">rental_changepassword</a><br>
<a href="/myapp/rental_managestock/">rental_managestock</a><br>
<a href="/myapp/rental_viewstock/">rental_viewstock</a><br>
<a href="/myapp/rental_viewbooking_from_user/">rental_viewbooking_from_user</a><br>
<a href="/myapp/rental_approvedbooking_from_user/">rental_approvedbooking_from_user</a><br>
<a href="/myapp/rental_rejectedbooking_from_user/">rental_rejectedbooking_from_user</a><br>
<a href="/myapp/rental_viewrating_from_user/">rental_viewrating_from_user</a><br>
<a href="/myapp/rental_view_payment/">rental_view_payment</a><br>


</body>
</html>