<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/admin_view_rentalshop/">admin_view_rentalshop</a><br>
<a href="/myapp/admin_approved_rentalshop/">admin_approved_rentalshop</a><br>
<a href="/myapp/admin_rejected_rentalshop/">admin_rejected_rentalshop</a><br>
<a href="/myapp/admin_view_pending_artist/">admin_view_pending_artist</a><br>
<a href="/myapp/admin_approved_artist/">admin_approved_artist</a><br>
<a href="/myapp/admin_rejected_artist/">admin_rejected_artist</a><br>
<a href="/myapp/admin_view_user/">admin_view_user</a><br>
<a href="/myapp/admin_view_complaint/">admin_view_complaint</a><br>
<a href="/myapp/admin_view_rentalshop_review/">admin_view_rentalshop_review</a><br>
<a href="/myapp/admin_view_artist_review/">admin_view_artist_review</a><br>
<a href="/myapp/admin_changepassword/">admin_changepassword</a><br>

</body>
</html>