{% extends 'admin/adminindex.html' %}
{% block body %}

<body>
<form id="form2" name="form2" method="post" action="/myapp/admin_rejected_artist_post/">
    {% csrf_token %}
<table class="pull-left">
    <tr>
      <td>

        <input type="text" name="textfield" placeholder="Search with Name" class="form-control" id="textfield2" />

      </td>
      <td>
        <input type="submit" name="button" id="button" class="btn btn-info" value="Search" />
      </td>
    </tr>
</table>
   <br>
<table class="table table-bordered">
  <tr>
    <th>name</th>
    <th>address</th>
    <th>gender</th>
    <th>status</th>
    <th>phone no</th>
    <th>email</th>
  </tr>
    {% for i in data %}
  <tr>
   <td>{{ i.Name }}&nbsp;</td>
    <td>{{ i.Place }}<br>{{ i.Post }}<br>{{ i.Pin }}<br>{{ i.State }}</td>
    <td>&nbsp;{{ i.Gender }}</td>
    <td>{{ i.Status }}</td>
    <td>&nbsp;{{ i.Phoneno }}</td>
    <td>&nbsp;{{ i.Email }}</td>
  </tr>{% endfor %}
</table>
  </form>
</body>
{% endblock %}
